<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "managerhomepage/managerheader.html" %}
</head>
<body>
<form method="post">
    {% csrf_token %}
    <h1 align="center">STATE</h1>
    <table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
        <tr>
            <td>
                 State Name : :
            </td>
            <td>
                {{ form.state_name }}
            </td>

        <tr>

            <td>
                <input type="submit" name="submit" value="INSERT" >
            </td>
            <td>
                <input type="submit" name="submit" value="RESET">
            </td>
        </tr>
    </table>
</form>
<table align="center" width="50%" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
    <tr>
        <td>State id</td>
        <td>State Name</td>
        <td>Edit/Delete</td>
    </tr>
    {% for obj in data %}
    <tr>
        <td>{{ obj.id }}</td>
        <td>{{ obj.state_name }}</td>
        <td>
            <a href="{% url 'state:edit_state' pk=obj.id %}">edit</a>
            <a href="{% url 'state:delete_state' pk=obj.id %}">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
{% include "footer.html" %}
</html>